apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: student-argo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/udamale/students-enroll-k8s-database.git
    targetRevision: HEAD
    path: kuberenetes-file
  destination: 
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
